@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background: url(./images/bg-pattern-bottom.svg);
  /* background-position: center; */
  background-color: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  min-height: 100vh;
}
span {
  color: rgba(107, 103, 103, 0.712);
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 350px;
  /* border: 2px solid rgb(189, 124, 3); */
  border-radius: 15px;
  overflow: hidden;
}
.content img {
  border-radius: 50%;
  position: relative;
  bottom: 50px;
}
.content h2 {
  padding: 20px;
}
.content p {
  padding: 20px;
}
.content {
  background-color: blanchedalmond;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
